footer {
    padding: 40px 10px;
    padding-bottom: 100px;
    background-color: var(--color-1);
}
footer p {
    text-align: center;
    font-size: var(--font-size-xs);
}

footer .footer-container {
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    color: var(--color-3);
}

footer .footer-links {
    min-width: 200px;
}

footer .footer-links h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: var(--font-size-md);
    text-transform: uppercase;
}

footer .footer-links ul {
    list-style: none;
    padding: 0;
}

footer .footer-links li {
    margin-bottom: 5px;
}

footer .footer-links a {
    text-decoration: none;
    color: var(--color-info);
    position: relative;
}

footer .footer-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-info);
    transition: width 0.3s ease-in-out;
}

footer .footer-links a:hover::after {
    width: 100%;    
}

footer .footer-form {
    min-width: 300px;
}
footer .footer-form h4 {
    font-size: var(--font-size-md);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
footer .footer-form form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
footer .footer-form form .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 3;
}
footer .footer-form form label {
    font-size: var(--font-size-sm);
    font-weight: 400;
    margin-left: 3px;
}
footer .footer-form form input {
    width: 100%;
    padding: 10px;
    background-color: var(--color-3);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-sm);
    outline: none;
}
footer .footer-form form input::placeholder {
    color: var(--color-black);
}


footer .footer-form form .subscribe-button {
    width: 100%;
    background-color: var(--color-4);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

footer .footer-form form .subscribe-button:hover {
    background-color: var(--color-3);
    color: var(--color-1);
}
footer .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    footer .footer-container {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    
}