.hero .imgs-container {
  height: 430px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.hero .imgs-container .img-container {
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  position: relative;
}
.hero .imgs-container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .imgs-container .img-container .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  max-width: calc(100% - 75px * 2);
  padding: 20px;
  color: var(--color-white);
}
.hero .imgs-container .img-container .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}
.hero .imgs-container .img-container .text h1 {
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero .imgs-container .img-container .text p {
  font-size: var(--font-size-sm);
  /* max ligne = 2 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  width: 100%;
  line-clamp: 2;
}
.hero .imgs-container .img-container .text a {
  text-decoration: none;
  display: block;
  color: var(--color-1);
  background-color: var(--color-2);
  padding: 11px 22px;
  border-radius: 999px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  transition: all 0.5s;
}
.hero .imgs-container .img-container .text a:hover {
  color: var(--color-2);
  background-color: var(--color-1);
}
.hero {
  position: relative;
  overflow-x: hidden;
}
.hero .btns {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
}
.hero .btns button {
  width: 45px;
  height: 45px;
  background-color: var(--color-2);
  color: var(--color-1);
  box-shadow: var(--box-shadow-md);
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.hero .btns button:active {
  background-color: var(--color-1);
  color: var(--color-2);
}
.hero .points-container .points {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  padding: 10px;
  gap: 5px;
}
.hero .points-container .points .point {
  background-color: var(--color-2);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-lg);
  transition: width 0.5s;
}
.hero .points-container .points .point.active {
  width: 20px;
  background-color: var(--color-4);
}


.categories-marques {
  background-color: var(--color-1);
  color: var(--color-white);
  padding: 10px;
  overflow-x: hidden;
}

.categories-marques .text {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  color: var(--color-grey);
}
.categories-marques .text h1 {
  color: var(--color-text-light);
  font-size: var(--font-size-h1);
}
.categories-marques .categorie-marques-container {
  display: flex;
  padding: 20px 0;
  gap: 10px;
  overflow: auto;
}
.categories-marques .categorie-marque {
  display: flex;
  min-width: 200px;
  max-width: 200px;
  height: 230px;
  background-color: var(--color-4);
  border-radius: 5px;
  overflow: hidden;
  transition: all .2s;
}
.categories-marques .categorie-marque .image-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid var(--color-grey);
}
.categories-marques .categorie-marque .image-title p {
  height: 30px;
  padding: 0 10px;
  overflow: hidden;
  font-size: var(--font-size-md);
}
.categories-marques .categorie-marque .image-title .img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.categories-marques .categorie-marque .image-title .img-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.categories-marques .categorie-marque:hover {
  /* scale: 1.5; */
  box-shadow: var(--box-shadow-lg);
  min-width: 500px;
  max-width: 100vw;
}
.categories-marques .categorie-marque .desc {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  padding: 10px;
  gap: 10px;
}
.categories-marques .categorie-marque .desc {
  display: flex;
}
.categories-marques .categorie-marque .desc p {
  height: 100%;
  /* max ligne 5 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
}
.categories-marques .categorie-marque .desc a {
  padding: 10px 22px;
  white-space: nowrap;
  background-color: var(--color-white);
  color: var(--color-1);
  font-weight: 500;
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.5s;
}
.categories-marques .categorie-marque .desc a:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}

.about-us {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.about-us .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: var(--color-text-dark);
  font-size: var(--font-size-md);
}
.about-us .text h1 {
  line-height: 1.1;
  color: var(--color-text-dark);
  font-size: var(--font-size-h1);
}
.about-us .text a {
  color: var(--color-1);
  text-decoration: none;
  font-size: var(--font-size-md);
  border: 1px solid var(--color-1);
  padding: 14px 22px;
  border-radius: 999px;
  transition: all 0.5s;
}
.about-us .text a:hover {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
}
.about-us .images {
  flex: 1;
  height: calc(22.5rem * 1.25);
  position: relative;
}
.about-us .images .image1 {
  width: 50%;
  height: 22.5rem;
  position: absolute;
  top: 0;
  right: 50px;
}
.about-us .images .image2 {
  position: absolute;
  width: 50%;
  height: 22.5rem;
  inset: auto auto 0% 0%;
}
.about-us .images img {
  border-radius: 7px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow-md);
}
@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    align-items: start;
  }
  .about-us .text {
    align-items: start;
  }
  .about-us .images {
    display: flex;
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    height: 22.5rem;
    padding-bottom: 20px;
  }
  .about-us .images .image1 {
    max-width: 50%;
    width: 13rem;
    height: 13rem;
    position: relative;
    right: -20px;
    z-index: 1;
    top: 20px;
  }
  .about-us .images .image2 {
    max-width: 50%;
    position: relative;
    width: 13rem;
    height: 13rem
  }
}

.derniers-produits {
  padding: 20px 10px;
}
.derniers-produits .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  padding: 10px;
  gap: 10px;
}
.derniers-produits .text {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  color: var(--color-black);
}
.derniers-produits .text h1 {
  color: var(--color-text-dark);
  font-size: var(--font-size-h1);
}

.derniers-produits .container .produit {
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: var(--color-bg-muted);
  transition: all 0.3s;
  position: relative;
}
.derniers-produits .container .produit:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow-md);
}
.derniers-produits .container .produit .img-produit {
  width: 100%;
  height: 12rem;
}
.derniers-produits .container .produit .img-produit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.derniers-produits .container .produit .info {
  padding: 10px;
  text-align: center;
}
.derniers-produits .container .produit .info h1 {
  font-size: var(--font-size-lg);
}
.derniers-produits .container .produit .info .conteneur-prix {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.derniers-produits .container .produit .info .conteneur-prix .ancien-prix {
  text-decoration: line-through;
  font-size: var(--font-size-xs);
  color: var(--color-error);
}
.derniers-produits .container .produit .info .conteneur-prix .nouveau-prix {
  font-size: var(--box-shadow-md);
  font-weight: 700;
}
.derniers-produits .container .produit .info .conteneur-prix .remise {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: var(--color-1);
  color: var(--color-2);
  padding: 0.2rem 0.7rem;
  border-radius: 0.2rem;
  font-size: var(--font-size-sm);
}
.derniers-produits .container .produit.voir-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-1);
  color: var(--color-white);
  font-weight: bold;
}
