/* Global styles */
body {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    background-blend-mode: multiply;
    background-image: url(../../assets/images/hero/salleAmanger.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #444;
}

.form-container span {
    color: #d9534f;
}

.form-container a {
    text-decoration: none;
}

.form-container .img-container {
    text-align: center;
}
.form-container .img-container img.logo{
    height: 120px;
}

/* Form container */
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Input container */
.form-container .input-container {
    margin-bottom: 20px;
    transition: all .3s;
}

.form-container .input-container.input-focus {
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 10px;
    border-radius: 5px;
    scale: 1.1; 
}
.form-container .input-container .info-message {
    display: none;
}
.form-container .input-container.input-focus div.info-message {
    display: block;
}
.form-container label {
    display: block;
    font-weight: 500;
    font-size: var(--font-size-sm);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}
.form-container input[type="file"] {
    display: none;
}
.form-container input:focus,
.form-container select:focus {
    outline: none;
    border-color: #007bff;
    border-width: 2px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Image preview */
.form-container .input-container:has( > .img-container) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.form-container .input-container .img-container:has( > img#img-profile-review) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    overflow: hidden;
}

.form-container .img-container img#img-profile-review {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Buttons */
.form-container button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s;
}


.form-container button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}

.form-container button[type="submit"]:hover {
    background-color: #218838;
}

.form-container button[type="reset"] {
    background-color: var(--color-1);
    color: #fff;
}

.form-container button[type="reset"]:hover {
    background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .form-container h2 {
        font-size: 1.3rem;
    }

    .form-container button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}
